.header{
    margin-top:60px;

}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora','serif';
    color: #444;
    margin-bottom: 2px;
}
.headerTitleSm{
    top: 18%;
    font-size: 20px;
}
.headerTitleLg{
    color: white;
    top: 20%;
    font-size: 100px;
    background-color: black;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
}
/* .headerImg{
    width: 100%;
    height: 600px;
    margin-top: 35px;

} */